In [ ]:
'''m
m
m
'''

In [ ]:
print(" helo")

In [ ]:
print("hello")

In [ ]:
print("hello's \n hello")

# variables

In [ ]:
data = 4 # data is a variable which refers to a value
print(data)

In [ ]:
data = 'a string'
print(data)

In [ ]:
type(data)

In [ ]:
int_1 = 5
float_1 = 5.601
string_1 = 'great learning'
boolean_1 = True

int_1 
float_1 
string_1 
boolean_1

In [ ]:
print(int_1) 
print(float_1) 
print(string_1) 
print(boolean_1)

In [ ]:
# print with the value

print(f' value of int is {int_1}')

In [ ]:
# reassign the variable

a = 3
b = a
c = b
c

# multiple variables and assignment

In [ ]:
a,b,c = 1,2,3

In [ ]:
a

In [ ]:
b

In [ ]:
c

# multiple variable and single value

In [ ]:
a = b = c =3
print(a)
print(b)
print(c)

In [ ]:
print(a,b,c)

In [ ]:
print("hello uug",end=',,,')

# Data Type

#Numberical ==> int, float, complex
#String ==> str
#Boolean ==> bool

In [ ]:
comp = 4+3j
comp.real

# type conversion  
##coverting one type of data to the other type of data
#implicit
#explicit

In [ ]:
a =  5.4
type(a)

In [ ]:
b = int(a)

In [ ]:
type(b)

In [ ]:
b

In [ ]:
a

In [ ]:
a = 4
b = 5.2
c = a + b

In [ ]:
c
# implict conversion ==>
# without programmars intervension

# Q.1 convert int,float,string, complex, boolean to float, string, complex, bool

In [ ]:
a = 4
b = 3.4
c = a + b

In [ ]:
c# int to float implicit

In [ ]:
int(c) # explict

In [ ]:
complex(4,0)

In [ ]:
bool(5)

In [ ]:
str(5)

In [ ]:
int('9')

In [ ]:
# complex we can only convert to sting or boolean
int(3+4j)

In [ ]:
str(3+4j)

In [ ]:
a = 90.6
b = '10'
c = '10'+90.6

In [ ]:
c = int(b)+c

In [ ]:
c

# order of operation
## PEMDAS

In [ ]:
3+4-6 # 7-6 = 1

In [ ]:
3-4+6 # left to right

In [ ]:
6+4-3

# *,/,//,% 
### left to right

In [ ]:
# pranthies

# operators

### arithmetic operators

In [ ]:
# addition
a=10
b=20
c=a+b
print(c)
print(type(c))

In [ ]:
# addition with strings
a = "strings"
b = 20.5
c = a+b
print(c)
print(type(c))

In [ ]:
a = "strings"
b = "20.5"
c = a+b
print(c)
print(type(c))

In [ ]:
a = "strings"
b = "20.5"
c = a+" "+b
print(c)
print(type(c))

In [ ]:
# subtraction
a=10
b=20
c=a-b
print(c)
print(type(c))

In [ ]:
a=10
b=20.5
c=a-b
print(c)
print(type(c))

In [ ]:
a = "strings"
b = "20.5"
c = a-b
print(c)
print(type(c))

In [ ]:
a = 10
b = 20.5
c = a*b
print(c)
print(type(c))

In [ ]:
a = "strings"
b = "20.5"
c = a*b
print(c)
print(type(c))

In [ ]:
a = "strings"
b = 20
c = a*b
print(c)
print(type(c))

In [ ]:
# division result will always will float
a = 10
b = 20
c = a/b
print(c)
print(type(c))

In [ ]:
a = "15"
b = "20.5"
c = a/b
print(c)
print(type(c))

In [ ]:
# integer division or floor division
a = 5.5
b = 2
c = a//b
print(c)
print(type(c))

In [ ]:
a = 5
b = 2
c = a//b
print(c)
print(type(c))

In [ ]:
# it will get us the reminder
a = 5.5
b = 2
c = a%b
print(c)
print(type(c))

In [ ]:
a = 5
b = 2
c = a%b
print(c)
print(type(c))

In [ ]:
# **operator  this means 'a' to the power of 'b'

a = 5.5
b = 2
c = a**b
print(c)
print(type(c))

In [ ]:
# string operation (concat,get the input from the user(run time variable)
student_name = input("please enter your name : ")
print("welcome",student_name)

In [ ]:
a = int(input())
b = int(input())
c = a+b
c

In [ ]:
a = int(input())
b = int(input())
c = a+b
c

# relational operators
# <,>,<=,=>,==,!=

In [ ]:
a = 10
b = 2
print(a<b)
print("a<b",a<b)

# logical operator

and, or, not

In [ ]:
a - True
not(a)

#bitwise operation

byte is 8 bit binary number
0000 0000 and 1111 1111
127 to -128
 
 limit is 255
 
1'complement and 2'complement

2' complement of 27 is -27

#& bitwise AND operator
#| bitwise OR operator
#^ bitwise XOR operator
#~ bitwise 1' com operator
#<< left shift
#>> right shift

In [ ]:
#00001010 for 10
#    &
#00000111 for 7
#00000010

#00001010 for 10
#    |
#00000111 for 7
#00001111

#00001010 for 10
#    ^
#00000111 for 7
#00000110

#00001010 for 10
#    ~
#00000111 for 7
#00000010

In [ ]:
# 1'compement of 20 is -21
a=20
print(~a)

In [ ]:
a=27
print(~a)

In [ ]:
# 20 ==> 00010100 
# the left shift ==> 01010000 ==>80

# 20 ==> 00010100 
# the left shift ==> 00000101 ==>5

#use of bitwise operator 
#high level programming 
 #example compression to pack in smaller space
#cryptography
#lowerlevel programming such as device drivers,low-#level graphics,
#communication protocol packet assembly, and decoding
#byte manipulation
#some low level programming area or graphics #development

In [ ]:
a=10
b=7
a&b

In [ ]:
a=10
b=7
a|b

In [ ]:
a=10
b=7
a^b

In [ ]:
a=10
b=7
~a

In [ ]:
a=10
b=7
a<<3

In [ ]:
a=10
b=7
a>>3

In [ ]:
# assignment operator
# concatenate
# string handling 
# data sliciing
# Multiple ways to print statements
# try out pseudo code

In [ ]:
a = 3
a += 3
a

In [ ]:
a -= 3
a

In [ ]:
a *= 3
a

In [ ]:
a /= 3
a

In [ ]:
a //= 3
a

In [ ]:
a %= 3
a

In [ ]:
a **= 3
a

In [ ]:
# concatenate
a = 'str1'
b = 'str2'
c = a+' '+b

In [ ]:
c

In [ ]:
b= a*3
b

In [ ]:
x=3
x >>= 3
x

In [ ]:
# concat string with Join()
str1 = ['a','b','c']
''.join(str1)

In [ ]:
v1 = 23
print("varibale1",v1,'.')

In [ ]:
ft = 5
inch = 2
print(" I am {}  feet and {} inches.".format(ft,inch))

In [ ]:
ft = 5
inch = 2
print(" I am %d  feet and %d inches."%(ft,inch))

In [ ]:
# %d for int
# %f for float
# %0.2f for float with specific number of decimals to be mentioned

In [ ]:
ft = 5
inch = 2
print(f'I am {ft}  feet  {inch} inches.')

In [ ]:
# %s will convert it to a string
ft = 5
inch = 2
print(" I am %s  feet and %s inches."%(ft,inch))

In [ ]:
ft = 5.12343
inch = 2
print(" I am %0.3f  feet and %d inches."%(ft,inch))

In [ ]:
# string handling

str2 = 'string handling'
str2.replace('i','#')

In [ ]:
# .upper() and .lower()
str2.upper()

In [ ]:
str2.lower()

In [ ]:
# each firt letter of the word to the upper case
str2.title()

In [ ]:
# data slicing
# index starts from 0 to right side
# for negative indexing starts from -1 to left side

In [ ]:
str3 = 'Data slicing'
str3

In [ ]:
str3[0]

In [ ]:
# all the elemnts / letters present in the variable
str3[:]

In [ ]:
# last value is len(str3)
str3[2:len(str3)]

In [ ]:
str3[0:11]

In [ ]:
str3[0:5]

In [ ]:
str3[6:12]

In [ ]:
str3[5:11]

In [ ]:
38*350000

In [ ]:
# reversing the string
str3[::-1]

In [ ]:
str3[-1:-12:-1]

In [ ]:
str3[1:-1]

In [ ]:
# inverse the string and slice of last 3 character
str3[:-3]
str3[::-1][:-3]

In [ ]:
str3[3:][::-1]
str3[::-1][:-3]

# psuedo code
#simple
#ptr/100
#case1 take a input for principle amount

# day2 syllabus

# advanced data type
## list,tuple,set,dictionary

# lists: use square brackets []
- are sequence of values (elements)
- are mutable means you can add,replace

In [ ]:
# 1. creat a list
l1 = ['string',23,'a',]

In [ ]:
# 2. check the data type
type(l1)

# list of operation
- repetition
- concat
- menbership
- iteration
- length

In [ ]:
# repetition
l1 = ['creating','a','simple','list']
l2 = l1*2
print(l2)

In [ ]:
# concat
l1 = ['creating','a','simple','list']
l2 = ['string',23,'a',]
l3 = l1+l2
print(l3)

In [ ]:
l1 = [50,40,30]
l2 = [25,23,60]
l3 = l1+l2
print(l3)

In [ ]:
print( l in l1)

In [ ]:
# length
len(l1)

In [ ]:
# iteration
for i in l1:
    print(i)
    print(l1)

In [ ]:
for i in l1:
    print(i+2)

In [ ]:
i=0
for j in l1:
    while i <= len(l1):
        print(i+1)
        i+=1

# in buit function
- max
- min
- list
- len

In [ ]:
l1

In [ ]:
l1 = ['creating','a','A','simple','list']
l2 = ['string',23,'a',]

max(l1)

In [ ]:
min(l1) # "A" is have valure is lower than the "a"

In [ ]:
variable1 = 'my_string'
print(variable1)
list1 = list(variable1)
type(list1)

In [ ]:
type(variable1)

a = [value1, value2, value3] # object were values are present in object values can be string or int float

# python buit in method
object.method()

- .append()
- .clear()
- .copy()
-
-
-
-

In [ ]:
# 1. append()

l1 = ['creating','a','A','simple','list']
l2 = ['string',23,'a',]
l1.append(l2)
l1

In [ ]:
# 2. clear()
l1.clear()
l1

In [ ]:
# 3 copy()
l1 = ['creating','a','A','simple','list']
my_l1 = l1.copy()
print(my_l1)

In [ ]:
# 4 count()
l1 = ['creating','a','A','simple','list']
count = l1.count('A')
count

In [ ]:
# 5 extend()
l1 = ['creating','a','A','simple','list']
l1.extend('A')
l1

In [ ]:
#l1.index()
l1 = ['creating','a','A','simple','list']
l1.index('A')

In [ ]:
# insert()
l1 = ['creating','a','A','simple','list']
l1.insert(0,"and")

In [ ]:
l1

In [ ]:
# pop()
l1 = ['creating','a','A','simple','list']
l1.pop(1)

In [ ]:
l1.pop()# it will pop last value of the list

In [ ]:
# reverse()
l1 = ['creating','a','A','simple','list']
l1.reverse()
l1

In [ ]:
# sort
l1 = ['creating','a','A','simple','list']
l2 = l1.reverse()
print(l2)

# data slicing 
--> to extract a part of list string
slicing:
 -   start ==> starting index value, where the slicing starts
 -  stop ==> index integer value until which slicing is done , n-1
 -  step ==> determines incremnet level between each index

In [ ]:
l1 = ['creating','a','A','simple','list']
l1[2:8:2]

In [ ]:
l1 = [10,20,30,40,50,60,70,80,90,100,110]

l1[2:8:2]

In [ ]:
# last three elements present in list
l1 = [10,20,30,40,50,60,70,80,90,100,110]
l1[-3::1]

In [ ]:
l1[8:len(l1):1]

In [ ]:
# remove the last element u can also use .remove() and also with the .pop()
l1 = [10,20,30,40,50,60,70,80,90,100,110]
l1[:-1][::-1]

In [ ]:
l1[-2::-1]

In [ ]:
l1 = [10,20,30,40,50,60,70,80,90,100,110]
print(sorted(l1))

In [ ]:
print(sorted(l1, reverse = True))

In [ ]:
# delete    del
l1 = [10,20,30,40,50,60,70,80,90,100,110]
del l1[3]

In [ ]:
l1
# 40 is delected

In [ ]:
# .sort()

In [ ]:
#compare lists {comparision}
l1 = [10,20,30,40,50,60,70,80,90,100,110]
l2 = [10,30,50,60,80,90,110]
l1 == l2

In [ ]:
l1 is l2

In [ ]:
sum(l1)

In [ ]:
max(l1)

In [ ]:
min(l1)

In [ ]:
len(l1)

In [ ]:
# list join method
l1 = [10,20,30,40,50,60,70,80,90,100,110]
l2 = [10,30,50,60,80,90,110]
l3 = ['abs', 'evs', 'join']
l4 = l1+l2+l3
print(list(l4))
l5 = ''.join(l3)
print(l5)

In [ ]:
sum(l4)

In [ ]:
max(l5)

# day 02 residency (offline) syllabues:
    - advanced data types (lists , tuples, dictionaries and sets)
    -conditional statements
    -for loop and while loop introduction

# Tuples

In [ ]:
# list are mutable  tuple are  immutable

In [ ]:
# creat a tuple () and list []
t1 = (10,20,30,40,50,60,70)
print(t1)

In [ ]:
type(t1)

In [ ]:
t2 = ('string','values','str')
print(t2)

In [ ]:
type(t2)

In [ ]:
print(t2*3) # repetition

In [ ]:
t3 = t1 + t2 # concatination
t3

In [ ]:
# membership
print(100 in t3) # it will check for the value it is present or not

In [ ]:
# length of the tuple
len(t3)

In [ ]:
# iteration
for i in t3:
    print(i)
    print(t3)

In [ ]:
# tuple in-built functions

In [ ]:
# max 
max(t1)

In [ ]:
# minimum
min(t1)

In [ ]:
max(t2)

In [ ]:
min(t2)

In [ ]:
# type casting
s1 = 'mystr'
print(s1)
print(type(s1))

In [ ]:
s2 = tuple(s1)

In [ ]:
type(s2)

In [ ]:
# sort 
sorted(s2)

In [ ]:
sorted(s2, reverse = True)

In [ ]:
# slicing 
s2[1]

In [ ]:
s2[:]

In [ ]:
s2[0:-1]

In [ ]:
s2[2:]

In [ ]:
s2[-3:]

In [ ]:
s1-s2

In [ ]:
# immutability 

t1 = (10,20,30,40,50,60,70)
del t1[2]

# this not possible do the operation

del t1

t1

In [ ]:
# replace the value

t1 = (10,20,30,40,50,60,70)
t1[5] = 100

In [ ]:
t1 = (10,20,30,40,50,60,70)
print(t1)
print(id(t1))

In [ ]:
t1 = t2
print(t2)
print(id(t2))

In [ ]:
t2[1] =24
print(id(t2))

In [ ]:
st5 ='test'
st6 ='test'
print(id(st5))

In [ ]:
print(id(st6))

In [ ]:
st5 =st6
print(id(st5))

In [ ]:
t5 = (2,4)
t6 = (2,4)
print(id(t5))
print(id(t6))

In [ ]:
t5 = [2,4]
t6 = [2,4]
print(id(t5))
print(id(t6))

In [ ]:
# list append will take less time than the tuple

# packing and unpacking

In [ ]:
t1 = (10,20,30,40,50,60,70)
print(t1)
# unpacking
stu_1,stu_2,stu_3,stu_4,stu_5,stu_6,stu_7 = t1
print(stu_1)
print(stu_2)

In [ ]:

# packing
stu_1,stu_3,*stu_4,stu_5 = (10,'20',30,'40',50,'60',70)
print(stu_1)
print(stu_3)
print(stu_4) # it should print left over items
print(stu_5)

# dicitionary
- dict == {key:value,key:value}

# key should be unique valuse can be same
- key:value is called as item or element

In [ ]:
# creating

dict_1 ={'name':'prithvi','depatment':'data science','age':25}

dict_1

In [ ]:
type(dict_1)

In [ ]:
# convert dictionary into string
str(dict_1)

In [ ]:
# built in function of dictionary

#.clear()
dict_1 ={'name':'prithvi','depatment':'data science','age':25}
dict_1.clear()
dict_1

In [ ]:
# .copy
dict_1 ={'name':'prithvi','depatment':'data science','age':25}
copy_dict = dict_1.copy()
copy_dict

In [ ]:
# .fromkeys() only keys will be shown and the values will be none

dict_1 ={'name':'prithvi','depatment':'data science','age':25}

print(dict.fromkeys(dict_1))
print(dict.fromkeys(dict_1,5))

In [ ]:
# .get() it give value present in the keys
dict_1 ={'name':'prithvi','depatment':'data science','age':25}

print(dict_1.get('name'))
print('name',dict_1.get('name'))
print(dict_1.get('dummy'))

In [ ]:
# .items()
dict_1 ={'name':'prithvi','depatment':'data science','age':25}

print(dict_1.items())

In [ ]:
# .keys()
dict_1 ={'name':'prithvi','depatment':'data science','age':25}

print(dict_1.keys())

In [ ]:

# .values()
dict_1 ={'name':'prithvi','depatment':'data science','age':25}

print(dict_1.values())

In [ ]:
# .setdefault()

dict_1 ={'name':'prithvi','depatment':'data science','age':25}

print(dict_1.items())

In [ ]:
salary = dict_1.setdefault('salary')
print(dict_1)

In [ ]:
salary = dict_1.setdefault('salary') # connot we have duplicate key  value
salary = dict_1.setdefault('salary1',25000)
print(dict_1)

In [ ]:
# .update()

dict_1 = {1:'meena',2:'data science',3:43}
print(dict_1)

dict_2 = {1:'it',2:'ti'}
dict_1.update(dict_2)
print(dict_1)

In [ ]:

dict_1 = {1:'meena',2:'data science',3:43}
print(dict_1)
print(dict_1.values())
print(dict_1['Three']=55)
print(dict_1.values())

# duplicates
if the duplicate keys it will show the last item in dictionary

# sets
# conditional statemants

- sets are unordered  where indexing is possible
- sets contain unique values

In [ ]:
set1 = {1,2,3,4,5,6,7,8,9}
print(set1)

In [ ]:
s = 'learning python online'
set2 = set(s)
set2

In [ ]:
type(set2)

In [ ]:
list1 = list(s)

In [ ]:
list1

In [ ]:
set(list1)

In [ ]:
set1 = {10,20,30,40,50,60}
set2 = {10,30,50,70,90}

In [ ]:
# Union
set1 = {10,20,30,40,50,60}
set2 = {10,30,50,70,90}
union = set1|set2
union

In [ ]:
# intersection 
set1 = {10,20,30,40,50,60}
set2 = {10,30,50,70,90}
intersection = set1&set2
intersection

In [ ]:
# difference
set1 = {10,20,30,40,50,60}
set2 = {10,30,50,70,90}
difference = set1 - set2
difference

In [ ]:
set1 = {10,20,30,40,50,60}
set2 = {10,30,50,70,90}
diff2 = set2 - set1
diff2

In [ ]:
# symmetric difference
set1 = {10,20,30,40,50,60}
set2 = {10,30,50,70,90}

sym_diff = set1 ^ set2
sym_diff

In [ ]:
# removing duplicate from other data types

my_tuple = (10,20,30,40,50,50)
print(my_tuple)
print(set(my_tuple))

In [ ]:
my_list = [10,20,30,40,50,50]
print(my_list)
print(set(my_list))

In [ ]:
# add or remove items in a list

my_set = {'lets','creat'}
my_set

In [ ]:
my_set.add('abc')

In [ ]:
my_set

In [ ]:
my_set.remove('creat')

In [ ]:
my_set

# conditional statments

- if
- elif
- elif

In [ ]:
# if

# Q1 to check whether a number is greater than 10

x = 2

if x > 10:
    print('X is greater than 10')

In [ ]:
# Q2 To check whether the string is equal to 'word'
# if else checked

my_string = 'money'

if my_string == 'word':
    print('its a match')
else:
    print('not a match')

In [ ]:
# to check it is an even or odd

user_input = int(input('enter a number:' ))

x = user_input%2

if x < 1:
    print('Its even ')
else:
    print('Its odd ')

In [ ]:
# Q3 check whether x>y get 2 user inputs

x = int(input('Enter the value for x '))
y = int(input('Enter the value for y'))

if x>y:
    print('x is greater than y')
else:
    print('y is greater than x')

In [ ]:
# Q4 check for

In [ ]:
username =  input('Enter the user name:')
password = input('Enter the password:')

if username == 'my_name' and password == 'my_password':
    print('logged in ')
else:
    print('username or a password is worng ')

In [1]:
# Q5 check 

age = int(input('Enter the age of person: '))
if age >= 18:
    print('Your eligible to voting')
else:
    print('Your not eligible to voting')

Enter the age of person: 14
Your not eligible to voting

In [2]:
# Q6 Nested if statements (chained conditional statments)

In [3]:
age = float(input('enter you age '))
if age >= 21 and age <= 58:
    print('Your are eligible')
elif age <= 21:
    print('You age must be above 21 years')
else:
    print('You age must be below 58 years')

enter you age 56
Your are eligible

In [4]:
# nested if
if age > 21:
    if age < 59:
        print('eligible')
    else:
        print('age is above the limit')
else:
    print('age is below the limit')

eligible

In [5]:
# username = 'my_name'
# password = 'my_pass'

username = input('Enter your username: ')
password = input('Enter your password: ')

if (username == 'myname ' and password == 'mypass'):
    print('logged in')
elif (username == 'myname' and password != 'mypass'):
    print('password is wrong')
elif (username != 'myname' and password == 'mypass'):
    print('username is worng')
elif (username != 'myname' and password != 'mypass'):
    print('worng log in error')

Enter your username: 12
Enter your password: 12
worng log in error

# DAY 3 TOPICS
- FOR LOOP
- WHILE LOOP

## for loop

In [2]:
# works on squence

In [3]:
test = ['a','b','c']
print(test)

['a', 'b', 'c']

In [4]:
# we can write 
print(test[2])

c

In [6]:
test = ['a','b','c']
for i in test:  # for element in test: 
    print(i)    # print(element)

a
b
c

In [8]:
test2 = [10,20,30,40,50]
sum = 0
for i in test2:
    sum = sum + i
    print(sum)

10
30
60
100
150

In [9]:
# print all the elements present in a string variable

In [10]:
mystring = 'print all the element in the string'

for i in mystring:
    print(i)

p
r
i
n
t

a
l
l

t
h
e

e
l
e
m
e
n
t

i
n

t
h
e

s
t
r
i
n
g

In [11]:
# creat simple list, print every element present inside the list and tuple

In [12]:
mytuple = (10,20,30,40,50) # tuple

for i in mytuple:
    print(i)

10
20
30
40
50

In [13]:
# for loop list of lists

listoflist = [[1,2,3],[2,3,4,5],[1,2,3,4,5,6,7,'string']]

for i in listoflist:
    print(i)

[1, 2, 3]
[2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7, 'string']

In [15]:
# for loops using range function
# print all the number present in the range of 1 to 10 (including 10)

for i in range(1,11): # range(start,stop(n-1),step size)
    print(i)

1
2
3
4
5
6
7
8
9
10

In [17]:
# print the numbers from 1 to 50 in regular intervals of 5

for i in range(1,51,5):
    print(i)

1
6
11
16
21
26
31
36
41
46

In [2]:
# desending order
for i in range(50,4,-5):
    print(i)

50
45
40
35
30
25
20
15
10
5

In [7]:
# create alist with integer values, get the total sum of the values present in the sequence.
test2 = [10,20,30,40,50]
sum = 0
for i in test2:
    sum = sum + i
    print(sum)# this will show how the loop works
print('sum of the list',sum)

10
30
60
100
150
sum of the list 150

In [11]:
test2 = [10,20,30,40,50]

for i in test2:
    print(i**2)#i=i**2
                # print(i)

100
400
900
1600
2500

In [13]:
dict1 = {'name':'meena','country':'india','gender':'f','age':36}

for i in dict1.items():
    print(i)

('name', 'meena')
('country', 'india')
('gender', 'f')
('age', 36)

In [14]:
for i in dict1.keys():
    print(i)

name
country
gender
age

In [15]:
for i in dict1.values():
    print(i)

meena
india
f
36

In [16]:
# for every item present in the dictionary print 'key ---> value'

for key, value in dict1.items():
    print(key,'---',value)

name --- meena
country --- india
gender --- f
age --- 36

In [20]:
# retreive all the values present in the dictionary and append it in list,print the same

empty = []
for i in dict1.values():
    empty.append(i)
    print(empty)# this print statment will show each steps 
print(empty)

['meena']
['meena', 'india']
['meena', 'india', 'f']
['meena', 'india', 'f', 36]
['meena', 'india', 'f', 36]

In [22]:
# for the below dictionary, where key ----> department name, value --> average salary of dept1

mydept = {'dept1':10000,'dept2':15000,'dept3':20000}

for k,v in mydept.items():
    mydept[k] = v*1.1
print(mydept)

{'dept1': 11000.0, 'dept2': 16500.0, 'dept3': 22000.0}

In [23]:
mydept = {'dept1':10000,'dept2':15000,'dept3':20000}

for k,v in mydept.items():
    if k == 'dept1':
        mydept[k] = v*1.1
    elif k == 'dept2':
        mydept[k] = v*1.5
    elif k =='dept3':
        mydept[k] = v*1.15
print(mydept)

{'dept1': 11000.0, 'dept2': 22500.0, 'dept3': 23000.0}

In [24]:
# nested for loop

In [30]:
salary = [1,2,3,4,5]
country = ['india','us','uk','poland','france']

for i in salary:
    for j in country:
        print(i,j)

1 india
1 us
1 uk
1 poland
1 france
2 india
2 us
2 uk
2 poland
2 france
3 india
3 us
3 uk
3 poland
3 france
4 india
4 us
4 uk
4 poland
4 france
5 india
5 us
5 uk
5 poland
5 france

In [31]:
for i in salary:
    for j in country:
        pass
    print(i,j)

1 france
2 france
3 france
4 france
5 france

In [33]:
for i in salary:
    for j in country:
        print(i,j)
    pass

1 india
1 us
1 uk
1 poland
1 france
2 india
2 us
2 uk
2 poland
2 france
3 india
3 us
3 uk
3 poland
3 france
4 india
4 us
4 uk
4 poland
4 france
5 india
5 us
5 uk
5 poland
5 france

In [37]:
listoflist = [[1,2,3],[2,3,4,5],[1,2,3,4,5,6,7,'string']]

# unpacking the list

for i in listoflist:
    print(i)
    for j in i:
        print(j)

[1, 2, 3]
1
2
3
[2, 3, 4, 5]
2
3
4
5
[1, 2, 3, 4, 5, 6, 7, 'string']
1
2
3
4
5
6
7
string

In [38]:
# print 5's table number from 1 to 11
n = 5
for i in range(1,12):
    m = n*i
    print(n,'×',i,'=',m)

5 × 1 = 5
5 × 2 = 10
5 × 3 = 15
5 × 4 = 20
5 × 5 = 25
5 × 6 = 30
5 × 7 = 35
5 × 8 = 40
5 × 9 = 45
5 × 10 = 50
5 × 11 = 55

In [1]:
mylist = []
for number in range(1,101):
    if(number % 5 == 0 and number % 7 == 0):
        mylist.append(number)
        print('This is number is divisible by 5 and 7:',number)
print(sum(mylist))

This is number is divisible by 5 and 7: 35
This is number is divisible by 5 and 7: 70
105

In [2]:
sum = 0
for i in range(1,101):
    if i%5 == 0 and i%7 == 0:
        sum+=i
print(sum)

105

In [3]:
mylist = [10,11,12,13,14,15]
evenlist =[]
oddlist =[]
for i in  mylist:
    if i%2 == 0:
        evenlist.append(i)
    else:
        oddlist.append(i)
        
print(evenlist)
print(oddlist)

[10, 12, 14]
[11, 13, 15]

In [7]:
# 5Q factorial of a number

n = int(input('enter the number:'))
f = 1
if n < 0:
    print('enter positive number')
elif n == 0:
    print('factorial of 0 is 1')
else:
    for i in  range(1,n+1):
        f =  f * i
print('factorial of the number is:',f)

enter the number:12
factorial of the number is: 479001600

In [11]:
n = int(input('enter the number:'))
f = 1
for i in  range(1,n+1):
    f =  f * i
print('factorial of the number is:',f)

enter the number:13
factorial of the number is: 6227020800

In [13]:
# using 'break' inside if condition

for i in 'my_string':
    if i == '_':
        break
    print(i)
print('end')

m
y
end

In [14]:
# using 'continue' inside if condition

for i in 'my_string':
    if i == '_':
        continue
    print(i)
print('end')

m
y
s
t
r
i
n
g
end

In [16]:
# for range of values between 100 and 120 print all the valeus if 111  print(got amactch)

for i in range(100,121):
    if i == 111:
        print('Match is found:',i)
        continue
    print(i)

100
101
102
103
104
105
106
107
108
109
110
Match is found: 111
112
113
114
115
116
117
118
119
120

In [20]:
for i in range(100,121):
    print(i)
    if i == 111:
        print('Match is found:')
        continue

100
101
102
103
104
105
106
107
108
109
110
111
Match is found:
112
113
114
115
116
117
118
119
120

# while loop

####  - last item is reached or not

#### - loop based on the condition

In [22]:
i = 0 
while i < 5:
    print(i)
    i+=1

0
1
2
3
4

In [ ]:
i = 0 
while i < 5:
    print(i)
    i+=1

In [1]:
i = 0
s = 'string'
while i <= 5:
    print(s)
    i+=1

string
string
string
string
string
string

In [3]:
# print the number 5 to one in reverse order using while loop

x = 5
while  x  > 0:
    print(x)
    x -= 1

5
4
3
2
1

In [5]:
# other way to do this problem

x = 0
while  x  < 5:
    print(5 - x)
    x += 1

5
4
3
2
1

In [6]:
for i in range(1,10):
    for j in range(1,10):
        if i == 1 and j == 1:
            print(j)
        elif i == 2 and j == 2:
            print(1,' ',j,' ',j,' ',1)
        elif i == 3 and j == 3:
            print(1,' ',j,' ',j+j,' ',j,' ',1)

1
1   2   2   1
1   3   6   3   1