# loops

In [1]:
# particulalar action need to be excicuted n number of times

In [11]:
l1 = [3,6,4,7,8]
for i in l1:
    a = i+2
    print(a)

5
8
6
9
10

In [3]:
# range(0,10) it is collection of num from 0 to 9
range(0,10)

range(0, 10)

In [5]:
range(10)

range(0, 10)

In [6]:
range(len(l1))

range(0, 5)

In [8]:
for i in range(len(l1)):
    a+=i
    print(a)

10
11
13
16
20

In [9]:
# to replace even number place
for i in range(len(l1)):
    if(i%2==0):
        l1[i]='replace'
print(l1)

['replace', 6, 'replace', 7, 'replace']

In [12]:
# print will be exicuted as many times AS FOR RUNS

l1 = [3,6,4,7,8]
for i in range(len(l1)):
    print(l1)
    if(i%2==0):
        l1[i]='replace'

[3, 6, 4, 7, 8]
['replace', 6, 4, 7, 8]
['replace', 6, 4, 7, 8]
['replace', 6, 'replace', 7, 8]
['replace', 6, 'replace', 7, 8]

Q1 take a list of 5 name of fruits. convert each name to upper case and print the updated list

In [13]:
fruits = ['mango','jackfruit','xyz','abc','bcd']
for i in range(len(fruits)):
    fruits[i] = fruits[i].upper()
print(fruits)

['MANGO', 'JACKFRUIT', 'XYZ', 'ABC', 'BCD']

In [15]:
# this way fruits is not possible to run 

fruits = ['mango','jackfruit','xyz','abc','bcd']
fruits_list=fruits.upper()
print(fruits_list)

AttributeError: 'list' object has no attribute 'upper'

In [16]:
# iterate through two things at once (using tuple unpacking)

family = {'dad':'homer','mom':'marger','size':6}
for key, value in family.items():
    print(key,value)

dad homer
mom marger
size 6

Q2 take a dictionary having the value "mary" repeated for 3 keys. wherever the value is "mary" replace it by "dora". print the updated dictionary.

In [5]:
f1 = {'Marry':'a1','Dora':'a2','Marry':'a3','Marry':'a4'}
for key,value in f1.items():
    if value == 'Marry':
        f1[key] = 'Dora'
print(f1)

{'Marry': 'a4', 'Dora': 'a2'}

Q2 take a list of 10 numbers. if the num is even, square it.
if the num is odd, cube it.
do not make the checnges in the original list.
show the output as list after the changes have been made.
print both the original list, and the changed list

In [12]:
num = [2,4,13,15,16,18,20,25,26,30]
num1 = []
for i in num:
    if i%2 == 0:
        num1.append(i**2)
    else:
        num1.append(i**3)
print(num)
print(num1)

[2, 4, 13, 15, 16, 18, 20, 25, 26, 30]
[4, 16, 2197, 3375, 256, 324, 400, 15625, 676, 900]

In [14]:
num = [2,4,13,15,16,18,20,25,26,30]
num1 = []
for i in range(len(num)):
    if num[i]%2 == 0:
        num[i]=(num[i]**2)
    else:
        num[i]=(num[i]**3)
print(num)

[4, 16, 2197, 3375, 256, 324, 400, 15625, 676, 900]

Q3 s="Once upon a time there was a king. His name was arthur. He was a great king."

make a list of all words in this string which have length greater then 4. convert all to upper case. make as separate list of the other words. convert all to lower case.

print out the 2 lists of words.

In [11]:
s = "Once upon a time there was a king. His name was arthur. He was a great king"
s1 = list(s.split())
for i in range(len(s1)):
    if len(s1[i]) > 4:
        s1[i]=s1[i].upper()
    else:
        s1[i]=s1[i].lower()
print(s1)

print(s)

['THERE', 'KING.', 'ARTHUR.', 'GREAT']
['once', 'upon', 'a', 'time', 'was', 'a', 'his', 'name', 'was', 'he', 'was', 'a', 'king']

In [12]:
s = "Once upon a time there was a king. His name was arthur. He was a great king"
s1 = list(s.split())
l1 = []
l2 = []
for i in range(len(s1)):
    if len(s1[i]) > 4:
        l1.append(s1[i].upper())
    else:
        l2.append(s1[i].lower())
print(s1)
print(s)
print(l1)
print(l2)

['Once', 'upon', 'a', 'time', 'there', 'was', 'a', 'king.', 'His', 'name', 'was', 'arthur.', 'He', 'was', 'a', 'great', 'king']
Once upon a time there was a king. His name was arthur. He was a great king
['THERE', 'KING.', 'ARTHUR.', 'GREAT']
['once', 'upon', 'a', 'time', 'was', 'a', 'his', 'name', 'was', 'he', 'was', 'a', 'king']

In [15]:
s = "Once upon a time there was a king. His name was arthur. He was a great king"
s1 = list(s.del(".")
s2 = list(s1.split())
l1 = []
l2 = []
for i in range(len(s2)):
    if len(s2[i]) > 4:
        l1.append(s2[i].upper())
    else:
        l2.append(s2[i].lower())
print(l1)
print(l2)

SyntaxError: invalid syntax (<ipython-input-15-276179f0a16c>, line 3)

In [18]:
s = "Once upon a time there was a king. His name was arthur. He was a great king"
s1 = s.split(".")
res = []
for i in s1:
    y = i.split()
    res.extend(y)
l1 = []
l2 = []
for i in res:
    if (len(i) > 4):
        l1.append(i.upper())
    else:
        l2.append(i.lower())
print(l1)
print(l2)

['THERE', 'ARTHUR', 'GREAT']
['once', 'upon', 'a', 'time', 'was', 'a', 'king', 'his', 'name', 'was', 'he', 'was', 'a', 'king']

## while loop

In [19]:
i = 0
while i < 5:
    print("5 times")
    i += 1
print("while loop breaks")

5 times
5 times
5 times
5 times
5 times
while loop breaks

Q2 take a list of 5 name of fruits. convert each name to upper case and print the updated list

In [2]:
fruits = ['mango','jackfruit','xyz','abc','bcd']
i = 0
while i < len(fruits):
    
    fruits[i] = fruits[i].upper()
    i += 1
    
print(fruits)

['MANGO', 'JACKFRUIT', 'XYZ', 'ABC', 'BCD']

# prefer using for insted of while

Q2 take a list of 5 name of fruits. convert each name to upper case and print the updated list using while loop. 



## keep doing this orrange is found

In [4]:
fruits = ['mango','jackfruit','xyz','abc','bcd']
i = 0
while i < len(fruits):
    if (fruits[i] == "orange"):
        break
    else:
        fruits[i] = fruits[i].upper()
        i += 1
    
print(fruits)

['MANGO', 'JACKFRUIT', 'XYZ', 'ABC', 'BCD']

## Q Write a program to add th first n natural num take the value of n as an input from the user??

# using while loop

In [7]:
l1 = []
n = int(input("Value of n ==>"))
i = 1
while i <= n:
    l1.append(i)
    i+=1
print(l1)

Value of n ==>150
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150]

## Using for loop

In [3]:
num = int(input("Enter the value of n ==> "))
print("The list of natural numbers from 1 to {}".format(num))

for i in range(1,num+1):
    print(i, end = ' ')

Enter the value of n ==> 3
The list of natural numbers from 1 to 3
1 2 3