In [1]:
# check if an obective is sof a given data type

isinstance(2.0, int)

False

In [3]:
isinstance(2.0, (int,float))

True

In [5]:
# convert an objective to a given type
float(2)

2.0

In [6]:
int(2.9)

2

In [7]:
str(2.9)

'2.9'

In [8]:
float('2.9')

2.9

# Zero,none and empty containers are converted to false:
# it is converted it into boolean

In [9]:
# if it is non empty containers it will convert it into True

In [10]:
bool(0)

False

In [12]:
bool(None)

False

In [13]:
bool()

False

In [14]:
# 2nd ponit

bool(2)

True

# Comarisons and Assignment

In [15]:
x=2
x>3
x<3
x!=3
x==4

False

In [18]:
a=2
a+=3 # short cut for a=a+3
print(a)

5

# Boolean operations

In [19]:
5>3 and 5<2

False

In [20]:
5>3 or 5<2

True

In [21]:
not False

True

In [22]:
not 5>3

False

In [23]:
# evaluation order: not, and ,or

In [25]:
False or True not False and True #need to be checked

SyntaxError: invalid syntax (<ipython-input-25-ef2b27239790>, line 1)

# String

In [26]:
s = 'I like you, hi '

In [27]:
s[5]

'e'

In [28]:
s[-4]

' '

In [29]:
s[-5]

','

In [30]:
# string it cannot be replaced 

# to check the length usuing len(s)

len(s)

15

In [31]:
s[0]= u # this is not possible

NameError: name 'u' is not defined

# string slicing

In [32]:
s[2:5]

'lik'

In [33]:
s[:5]

'I lik'

In [34]:
s[2:]

'like you, hi '

In [35]:
s[-1:]

' '

In [36]:
s[:-1]

'I like you, hi'

In [39]:
s[-3:-1] #left to right

'hi'

# Basic string methods

In [40]:
s.lower()

'i like you, hi '

In [41]:
s.upper()

'I LIKE YOU, HI '

In [42]:
# startswith


s.startswith('I')

True

In [43]:
#endswith


s.endswith('hi')

False

In [44]:
# isdigit it will check it character in the strings is a digit
s.isdigit()

False

In [45]:
# returns index of the occurrence, but doesn't support regex

s.find('like')

2

In [46]:
s.find('hi')

12

In [47]:
# python is case sen

In [48]:
# return -1 since not found
s.find('hate')

-1

In [49]:
# if noting is define in function it will return 0

In [50]:
s.replace('like', 'love')

'I love you, hi '

In [52]:
s.replace('liked', 'love') # it will not change any thing it will return the same

'I like you, hi '

In [53]:
# we cannot replace any thing using assignment but replace can be used

In [54]:
# split


s.split()

['I', 'like', 'you,', 'hi']

In [56]:
s.split(' ')

['I', 'like', 'you,', 'hi', '']

In [57]:
s='string'
s.split()

['string']

In [58]:
s.split(',')

['string']

In [59]:
s1='a, an, the'
s1.split(',')

['a', ' an', ' the']

In [60]:
# what we us with in the function it will not be counted

In [64]:
s.split('s') # if nothing is present  it will take it as blank

['', 'tring']

In [65]:
s.split('g') # there ned to be split into two parts

['strin', '']

In [66]:
s3='szszszs'
s3.split('z')

['s', 's', 's', 's']

In [70]:
# Join or Concatenate string

# join a list  of strings into one string using a delimiter


stooges = ['larry','curly','moe']
''.join(stooges)

'larrycurlymoe'

In [71]:
' '.join(stooges)

'larry curly moe'

In [72]:
'.'.join(stooges)

'larry.curly.moe'

In [73]:
','.join(stooges)

'larry,curly,moe'

In [77]:
# concatenate string

s3= ' hello'
s4= '42'
s4 + '---' + s3

'42--- hello'

In [78]:
s4 + 43 # will not work

TypeError: can only concatenate str (not "int") to str

In [79]:
# only string can be concatenated

In [81]:
s6=' ham and cheese  '
s6.strip()

'ham and cheese'

In [82]:
# string substitution

# syntax ==> 'raining %s and %s' % ('cat','dogs')

In [83]:
x=3+5
y='abc'
'raining {} and {}'.format(x,y)

'raining 8 and abc'

In [84]:
x='xyz'
y='abc'
'raining {} and {}'.format(x,y)

'raining xyz and abc'

In [85]:
'raining {arg1} and {arg2}'.format(arg1='cats', arg2='dogs')

'raining cats and dogs'

In [86]:
# string formating

In [87]:
print('first line \t second line')

first line 	 second line

In [88]:
print(r'first line \t second line')

first line \t second line