In [1]:
# DAY 23/03/2020

In [4]:
# PRINT() 

print('hello world with the single quotes')
print("hello world with double quotes")
print('''hello world with the triple quotes''')

# four quotes cannot be used with in the brackets which may end up showing error.
# What ever used with in the quotes are considered as strings.

hello world with the single quotes
hello world with double quotes
hello world with the triple quotes

In [7]:
print(''' "hello", world with the, 'single', quotes''')

# Triple quotes will allow you to use multiple types quotes like single and double quotes can be within triple quotes
# by using commas in between them.
# only triple quotes will allow you to do this.

 "hello", world with the, 'single', quotes

In [8]:
# you can print all the statment in a single line

print('hello world with the single quotes',"hello world with double quotes",'''hello world with the triple quotes''')

# commas will separate

hello world with the single quotes hello world with double quotes hello world with the triple quotes

In [9]:
# you can print it in a single line by using ""END"" if dont use ""END"" automaticaly it will take it as "" end='\n' ""
# \n means next line.
print('hello world with the single quotes', end='')
print("hello world with double quotes", end='')
print('''hello world with the triple quotes''')

hello world with the single quoteshello world with double quoteshello world with the triple quotes

In [10]:
# VARIABLES

a = 10
b = 100
c = 1000
print(a,b,c)

10 100 1000

In [12]:
# print() as value of a is 10 value of b is 100 value of c is 1000

print('value of a is',a)

# using commas in print in a single statment

print('value of a is',a,'value of b is',b,'value of c is',c)

value of a is 10
value of a is 10 value of b is 100 value of c is 1000

In [20]:
print("'value of a is',a \n , 'value of b is',b \n , 'value of c is',c")

'value of a is',a
 , 'value of b is',b
 , 'value of c is',c

In [18]:
print('value \n num')

value
 num

In [ ]:
#