# tuples

In [1]:
t1 = ('a','b','c','d')
t2 = ('e','f','g','h')

In [3]:
# repetation
tr = t1*2
tr

('a', 'b', 'c', 'd', 'a', 'b', 'c', 'd')

In [5]:
# concatenation(+)
tc = t1+t2
tc

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')

In [8]:
# membership to vheck f is the member of tuple or not
t3 = ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
print('f' in t3)

True

In [11]:
# length
t3 = ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
print(len(t3))

8

In [14]:
# iteration
print(t3)
for i in t3:
    print(i)
    # to print entier tuple every time it print as many item in the tuple
    print(t3)

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
a
('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
b
('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
c
('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
d
('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
e
('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
f
('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
g
('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
h
('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')

In [15]:
# creat a tuple of  your own
t4 = (1,4,9,16,25)

In [16]:
max(t4)

25

In [17]:
min(t4)

1

In [19]:
seq ='QWERTY'
# convert the above seq into tuple
tuple(seq)

('Q', 'W', 'E', 'R', 'T', 'Y')

In [20]:
# set operation

In [21]:
set1 = {1,2,5,4}
set2 = {2,5,7,8}

In [22]:
# union will remove 
set1 | set2

{1, 2, 4, 5, 7, 8}

In [23]:
# intersection 
set1 & set2

{2, 5}

In [24]:
# difference 
set1 - set2 # it will remove common element from set 1 and set 2 in set 1

{1, 4}

In [25]:
# symmetric difference
set1 ^ set2
# it will show common part and shows remaining part

{1, 4, 7, 8}

In [26]:
# dictionary

In [27]:
dict1 = {'a':'b','c':'d','e':34}

In [28]:
# length of the dictionary
len(dict1)

3

In [29]:
max(dict1) # for string it shows alphabeticaly for keys

'e'

In [30]:
min(dict1) # for string it shows alphabeticaly for keys

'a'

In [31]:
type(dict1)

dict

In [35]:
# to covert it to string
a=str(dict1)
print(type(dict1))
print(type(a))

<class 'dict'>
<class 'str'>

In [36]:
# built in function
# dict1 = {'a':'b','c':'d','e':34}

In [37]:
# it is used remove all the items from the dictionary
# .clear()

dict1 = {'a':'b','c':'d','e':34}
dict1.clear()

In [38]:
dict1

{}

In [42]:
# .copy()
dict1 = {'a':'b','c':'d','e':34}

dict2 = dict1.copy()

dict1.clear()
print(dict1)
print(dict2)

{}
{'a': 'b', 'c': 'd', 'e': 34}

In [45]:
# dict.fromkeys()
dict1 = {'a':'b','c':'d','e':34}
a =['a','c','e']
dict1.fromkeys(a,['no mans land'])

{'a': ['no mans land'], 'c': ['no mans land'], 'e': ['no mans land']}

In [75]:

dict1 = {'a':'b','c':'d','e':34}
print(dict1.get('a'))
print(dict1.get('c'))
print(dict1.get('gender','male'))# it will not be updated

b
d
male

In [49]:
dict1

{'a': 'b', 'c': 'd', 'e': 34}

In [50]:
# .items()
dict1 = {'a':'b','c':'d','e':34}
dict1.items()

dict_items([('a', 'b'), ('c', 'd'), ('e', 34)])

In [51]:
# .keys()
dict1.keys()

dict_keys(['a', 'c', 'e'])

In [53]:
# .values()
dict1.values()

dict_values(['b', 'd', 34])

In [56]:
# .setdefault()
dict1.setdefault('a')

'b'

In [65]:
b =dict1.setdefault('m')

In [64]:
dict1
print(dict1)
print(b)

{'a': 'b', 'c': 'd', 'e': 34, 'm': None}
None

In [66]:
b = dict1.setdefault('m1',34)

In [67]:
b

34

In [72]:
# .update()
dict1 = {'a':'b','c':'d','e':34}
dict2 = {'f':36 , 'g': 345}
dict1.update(dict2)

In [73]:
dict1

{'a': 'b', 'c': 'd', 'e': 34, 'f': 36, 'g': 345}