In [1]:
# dictionry and tuple

d = {"tom":7320923203, "rob":7325730239, "joe":7320923203}

In [2]:
d

{'tom': 7320923203, 'rob': 7325730239, 'joe': 7320923203}

In [3]:
d["tom"] # WHERE "TOM" IS THE KEY

7320923203

In [4]:
# WHERE DICTIONARY LOOKS SAME AS THE LIST BUT KEYS INSTED OF INDEXING

In [5]:
d["sam"]=8050123954 # this way item can be added in the dictionary

In [6]:
d

{'tom': 7320923203, 'rob': 7325730239, 'joe': 7320923203, 'sam': 8050123954}

In [7]:
# delete command

del d["sam"] # this will delete sam from the

In [8]:
d

{'tom': 7320923203, 'rob': 7325730239, 'joe': 7320923203}

In [9]:
# how to print all the directory value


for key in d:
    print("key:",key,"value:",d[key])

key: tom value: 7320923203
key: rob value: 7325730239
key: joe value: 7320923203

In [10]:
# anothor  using tuple

for k,v, in d.items():
    print("key:",key,"value:",v)

key: joe value: 7320923203
key: joe value: 7325730239
key: joe value: 7320923203

In [11]:
# how to check value is present in the dictionary

"tom" in d

True

In [12]:
"samir" in d

False

In [13]:
# if cleare the all the entery in dictionary

d.clear()
d

{}

In [14]:
# tuple

point = (5,9)
point[0]

5

In [15]:
point[1]

9

In [16]:
# example for the tuple is 
## point = (4,5)
## address  = ("whitefield","bangalore","karnatak",560066)

In [ ]:
# sets will remove duplicates